Software Data/Node red JSON/flows.json
[{"id":"70c6cde5.b0a744","type":"tab","label":"Home","disabled":true,"info":""},{"id":"7184c63a.850d58","type":"tab","label":"Search","disabled":true,"info":""},{"id":"37633472.8d0f9c","type":"tab","label":"Globe","disabled":true,"info":""},{"id":"1a63f43.cc08f0c","type":"tab","label":"About US","disabled":true,"info":""},{"id":"5b0a901.7ee317","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8ef0f892.55aee8","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"943d9309.4c101","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fd20137a.462398","type":"tab","label":"Email-SMS Alerts","disabled":false,"info":""},{"id":"e2898b6.255fa78","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"82d72d9e.6492c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d385ec58.82452","type":"ui_group","name":"","tab":"e2898b6.255fa78","order":1,"disp":true,"width":"23","collapse":false},{"id":"47b635b7.4d4b1c","type":"ui_group","name":"","tab":"a772700a.35d6f","order":2,"disp":true,"width":"23","collapse":false},{"id":"a772700a.35d6f","type":"ui_tab","name":"Vibration_measurement","icon":"dashboard","disabled":false,"hidden":false},{"id":"e9b969c.8cbca98","type":"ui_tab","name":"About Us","icon":"dashboard","disabled":false,"hidden":false},{"id":"824b98d.b847268","type":"ui_group","name":"","tab":"e9b969c.8cbca98","order":1,"disp":true,"width":"23","collapse":false},{"id":"b2ec6d01.2e6c7","type":"template","z":"5b0a901.7ee317","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head> \n    <title> Observation</title>\n    </head>\n    <body>\n        <CENTER> <h1> VIBRATION MEASUREMENT</h1></CENTER>\n    <img src = \"https://i.dlpng.com/static/png/4996973-soundwave-transparent-sound-wave-logo-free-png-images-clipart-soundwave-png-920_382_preview.png\"\n         alt = \"HTML Tutorial\" height = \"300\" width = \"1345\" />\n         <iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n\n         <table border = \"5\">\n         <tr>\n            <td>Row 1, Column 1</td>\n            <td>Row 1, Column 2</td>\n         </tr>\n         \n         <tr>\n            <td>Row 2, Column 1</td>\n            <td>Row 2, Column 2</td>\n         </tr>\n      </table>\n    </body>\n    </html>","output":"str","x":400,"y":480,"wires":[["998825e0.8ece68"]]},{"id":"1b38b1c3.b1fefe","type":"http in","z":"5b0a901.7ee317","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["b2ec6d01.2e6c7"]]},{"id":"998825e0.8ece68","type":"http response","z":"5b0a901.7ee317","name":"","statusCode":"","headers":{},"x":610,"y":480,"wires":[]},{"id":"2c359fa3.69c19","type":"template","z":"70c6cde5.b0a744","name":"Home","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {margin:0;}\n\n.icon-bar {\n  width: 100%;\n  background-color: #555;\n  overflow: auto;\n}\n\n.icon-bar a {\n  float: left;\n  width: 20%;\n  text-align: center;\n  padding: 12px 0;\n  transition: all 0.3s ease;\n  color: white;\n  font-size: 36px;\n}\n\n.icon-bar a:hover {\n  background-color: #000;\n}\n\n.active {\n  background-color: #04AA6D;\n}\n</style>\n<body>\n\n<div class=\"icon-bar\">\n  <a class=\"active\" href=\"#\"><i class=\"fa fa-home\"></i></a> \n  <a href=\"active\"><i class=\"fa fa-search\"></i></a> \n  <a href=\"active\"><i class=\"fa fa-envelope\"></i></a> \n  <a href=\"active\"><i class=\"fa fa-globe\"></i></a>\n  <a href=\"active\"><i class=\"fa fa-phone\"></i></a> \n</div>\n<CENTER> <h1> VIBRATION MEASUREMENT </h1> </CENTER>\n<img src = \"https://i.dlpng.com/static/png/4996973-soundwave-transparent-sound-wave-logo-free-png-images-clipart-soundwave-png-920_382_preview.png\"\n         alt = \"HTML Tutorial\" height = \"300\" width = \"1345\" />\n<CENTER> <H3> The vibration analysis demands appropriate vibration transducers. Vibration measurement can be done by measuring displacement, velocity, acceleration, acoustic, magnetic, optical etc. of specific points, of otherwise static structure. These parameters can be measured with different types of sensing devices based on different principles. Several techniques mainly based on capacitive/piezoelectric accelerometers and acoustic are available commercially. Optical and GMR (Giant Magnetoresistance) based vibration measurement are emerging technologies. Fig. presents different physical parameters for vibration sensing, sensors adopted for sensing, and technologies available for vibration monitoring. </H3> </CENTER>\n</body>\n</html> \n","output":"str","x":390,"y":140,"wires":[["e77ff1f1.cf912"]]},{"id":"3391e907.500f16","type":"http in","z":"70c6cde5.b0a744","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["2c359fa3.69c19"]]},{"id":"e77ff1f1.cf912","type":"http response","z":"70c6cde5.b0a744","name":"","statusCode":"","headers":{},"x":590,"y":140,"wires":[]},{"id":"24f696a8.e79c4a","type":"template","z":"7184c63a.850d58","name":"Search","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {margin:0}\n\n.icon-bar {\n  width: 90px;\n  background-color: #555;\n}\n\n.icon-bar a {\n  display: block;\n  text-align: center;\n  padding: 16px;\n  transition: all 0.3s ease;\n  color: white;\n  font-size: 36px;\n}\n\n.icon-bar a:hover {\n  background-color: #000;\n}\n\n.active {\n  background-color: #04AA6D;\n}\n</style>\n<body>\n\n<div class=\"icon-bar\">\n <a href=\"search\"><i class=\"fa fa-search\"></i></a> \n\n</div>\n<center><h1>Data Analysis of Vibartion_Measurement</h1></center>\n<center>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along X-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along Y-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along Z-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Net_Acceleration</h3>\n</center>\n  \n</body>\n</html> \n","output":"str","x":400,"y":120,"wires":[["32429475.50d6ac"]]},{"id":"2cf58a72.7e0b26","type":"http in","z":"7184c63a.850d58","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["24f696a8.e79c4a"]]},{"id":"32429475.50d6ac","type":"http response","z":"7184c63a.850d58","name":"","statusCode":"","headers":{},"x":610,"y":120,"wires":[]},{"id":"9f761829.60d1a8","type":"template","z":"37633472.8d0f9c","name":"Globe","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {margin:0}\n\n.icon-bar {\n  width: 90px;\n  background-color: #555;\n}\n\n.icon-bar a {\n  display: block;\n  text-align: center;\n  padding: 16px;\n  transition: all 0.3s ease;\n  color: white;\n  font-size: 36px;\n}\n\n.icon-bar a:hover {\n  background-color: #000;\n}\n\n.active {\n  background-color: #04AA6D;\n}\n</style>\n<body>\n\n<div class=\"icon-bar\">\n  <a href=\"#\"><i class=\"fa fa-globe\"></i></a>\n\n</div>\n  \n</body>\n</html> \n","output":"str","x":430,"y":180,"wires":[["1316d7f9.bb03f8"]]},{"id":"7007b51c.caf0fc","type":"http in","z":"37633472.8d0f9c","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":230,"y":180,"wires":[["9f761829.60d1a8"]]},{"id":"1316d7f9.bb03f8","type":"http response","z":"37633472.8d0f9c","name":"","statusCode":"","headers":{},"x":650,"y":180,"wires":[]},{"id":"c317d6c0.8994b8","type":"http in","z":"1a63f43.cc08f0c","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":190,"y":100,"wires":[["253f8983.ce2be6"]]},{"id":"a1e88193.d686f","type":"http response","z":"1a63f43.cc08f0c","name":"","statusCode":"","headers":{},"x":610,"y":100,"wires":[]},{"id":"f3a18ab7.6cbe58","type":"ui_template","z":"8ef0f892.55aee8","group":"d385ec58.82452","name":"Home","order":1,"width":"20","height":"15","format":"<!DOCTYPE html>\n<html>\n<body>\n<CENTER> \n<h1> VIBRATION MEASUREMENT SYSTEM USING ACCELEROMETER SENSOR </h1>\n</CENTER><br>\n<img src = \"https://drive.google.com/uc?export=view&id=1e0j7WXulq8P5xchzjix_0w0UOY2yM7xG\"\n         alt = \"HTML Tutorial\" height = \"300\" width = \"1345\" />\n<CENTER> <H3> The vibration analysis demands appropriate vibration transducers. Vibration measurement can be done by measuring displacement, velocity, acceleration, acoustic, magnetic, optical etc. of specific points, of otherwise static structure. These parameters can be measured with different types of sensing devices based on different principles. Several techniques mainly based on capacitive/piezoelectric accelerometers and acoustic are available commercially. Optical and GMR (Giant Magnetoresistance) based vibration measurement are emerging technologies. Fig. presents different physical parameters for vibration sensing, sensors adopted for sensing, and technologies available for vibration monitoring. </H3> </CENTER>\n\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":400,"wires":[[]]},{"id":"b1dfe389.c05bd","type":"ui_template","z":"8ef0f892.55aee8","group":"47b635b7.4d4b1c","name":"Vibration Meaurement","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <head><title>Vibration</title></head>\n<body background color= #8bfc00>\n<center><br><h1>Data Analysis of Vibartion_Measurement</h1></center>\n<center><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along X-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along Y-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Along Z-axis</h3><br><br><br>\n<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/1291300/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>\n<h3> Net_Acceleration</h3>\n</center>\n  \n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":460,"wires":[[]]},{"id":"3d5506ea.776ffa","type":"ui_form","z":"8ef0f892.55aee8","name":"","label":"","group":"d385ec58.82452","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phone","type":"number","required":true,"rows":null},{"label":"Location","value":"location","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","phone":"","location":""},"payload":"","submit":"Submit","cancel":"Clear","topic":"topic","topicType":"msg","splitLayout":true,"x":140,"y":440,"wires":[["f3a18ab7.6cbe58","b1dfe389.c05bd","3d97e41f.fc1bec"]]},{"id":"3d97e41f.fc1bec","type":"ui_template","z":"8ef0f892.55aee8","group":"824b98d.b847268","name":"About Us","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=10\">\n<style>\n* {\n  box-sizing: border-box;\n}\n\n/* Create two equal columns that floats next to each other */\n.column {\n  float: left;\n  width: 50%;\n  padding: 1px;\n  height: 500px; /* Should be removed. Only for demonstration */\n}\n\n/* Clear floats after the columns */\n.row:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n</style>\n</head>\n<body bgcolor=#e1ff80>\n\n<center>\n<div class=\"row\">\n  <div class=\"column\" style=\"background-color:#e1ff80;\">\n    <h2>Shubhangi Kumari</h2>\n<img src=\"https://drive.google.com/uc?export=view&id=1dvkBC2xyoFDYvSeA1Nsam-7d3Ndzf_Wr\" alt=\"Shubhangi\" width=\"300\" height=\"300\">\n    <p>Check out Shubhangi Kumari’s profile on LinkedIn </p>\n    </p><a href=\"https://www.linkedin.com/in/shubhangi-k-607502169\">Follow Us on Linkedin</a></p>\n  </div>\n  <div class=\"column\" style=\"background-color:#e1ff80;\">\n    <h2>Rohit Raj</h2>\n    <img src=\"https://drive.google.com/uc?export=view&id=1zRSmk3VuJcIeX9S4PdCzCI_4VV0L-MrQ\" alt=\"Rohit\" width=\"300\" height=\"300\">\n    <p>Check out Rohit Raj’s profile on LinkedIn </p>\n    </p><a href=\"https://www.linkedin.com/in/rohit-raj-78913613a/\">Follow Us on Linkedin</a></p>\n\n  </div>\n</div>\n</center>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":340,"y":520,"wires":[[]]},{"id":"253f8983.ce2be6","type":"template","z":"1a63f43.cc08f0c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=10\">\n<style>\n* {\n  box-sizing: border-box;\n}\n\n/* Create two equal columns that floats next to each other */\n.column {\n  float: left;\n  width: 50%;\n  padding: 10px;\n  height: 500px; /* Should be removed. Only for demonstration */\n}\n\n/* Clear floats after the columns */\n.row:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n</style>\n</head>\n<body>\n\n<center>\n<div class=\"row\">\n  <div class=\"column\" style=\"background-color:#e1ff80;\">\n    <h2>Shubhangi Kumari</h2>\n<img src=\"https://drive.google.com/uc?export=view&id=1dvkBC2xyoFDYvSeA1Nsam-7d3Ndzf_Wr\" alt=\"Shubhangi\" width=\"300\" height=\"300\">\n    <p>Check out Shubhangi Kumari’s profile on LinkedIn </p>\n    </p><a href=\"https://www.linkedin.com/in/shubhangi-k-607502169\">Follow Us on Linkedin</a></p>\n  </div>\n  <div class=\"column\" style=\"background-color:#e1ff80;\">\n    <h2>Rohit Raj</h2>\n    <img src=\"https://drive.google.com/uc?export=view&id=1zRSmk3VuJcIeX9S4PdCzCI_4VV0L-MrQ\" alt=\"Rohit\" width=\"300\" height=\"300\">\n    <p>Check out Rohit Raj’s profile on LinkedIn </p>\n    </p><a href=\"https://www.linkedin.com/in/rohit-raj-78913613a/\">Follow Us on Linkedin</a></p>\n\n  </div>\n</div>\n</center>\n</body>\n</html>","output":"str","x":400,"y":100,"wires":[["a1e88193.d686f"]]},{"id":"9d924cc3.19be6","type":"template","z":"5b0a901.7ee317","name":"about us","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {margin:0}\n\n.icon-bar {\n  width: 90px;\n  background-color: #555;\n}\n\n.icon-bar a {\n  display: block;\n  text-align: center;\n  padding: 16px;\n  transition: all 0.3s ease;\n  color: white;\n  font-size: 36px;\n}\n\n.icon-bar a:hover {\n  background-color: #000;\n}\n\n.active {\n  background-color: #04AA6D;\n}\n</style>\n<body>\n\n<div class=\"icon-bar\">\n  <a href=\"#\"><i class=\"fa fa-phone\"></i></a>\n\n</div>\n  \n</body>\n</html> \n","output":"str","x":360,"y":120,"wires":[[]]},{"id":"cae90eb0.45c138","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"18","payloadType":"num","x":220,"y":160,"wires":[["fea560df.d3c48"]]},{"id":"2e7bc618.f670f2","type":"debug","z":"fd20137a.462398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":240,"wires":[]},{"id":"fea560df.d3c48","type":"function","z":"fd20137a.462398","name":"Trigger Alarm","func":"var payload=msg.payload;\nif (payload>20)\n    return msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["2e7bc618.f670f2"]]},{"id":"cb79af30.136148","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"20","payloadType":"num","x":220,"y":220,"wires":[["fea560df.d3c48"]]},{"id":"d714a1d8.163e7","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"22","payloadType":"num","x":220,"y":280,"wires":[["fea560df.d3c48"]]},{"id":"c82f93e8.d55d58","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"18","payloadType":"num","x":200,"y":400,"wires":[["3e386ff9.f6a898"]]},{"id":"222117f1.f96fc","type":"e-mail","z":"fd20137a.462398","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"raayushman.devil@gmail.com","dname":"Rohit","x":850,"y":560,"wires":[]},{"id":"67568ffe.c5af7","type":"debug","z":"fd20137a.462398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":460,"wires":[]},{"id":"3e386ff9.f6a898","type":"function","z":"fd20137a.462398","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>20 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=20 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["67568ffe.c5af7","852b2b39.af9ee"]]},{"id":"d762b159.a960a8","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"20","payloadType":"num","x":200,"y":460,"wires":[["3e386ff9.f6a898"]]},{"id":"af2ecedc.feb628","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"22","payloadType":"num","x":200,"y":520,"wires":[["3e386ff9.f6a898"]]},{"id":"852b2b39.af9ee","type":"function","z":"fd20137a.462398","name":"","func":"var temp=msg.payload;\nmsg.to=\"rohit\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"High Vibration Alarm\";\n    message=\" High Vibration Alarm temp= \";    \n}\nelse\n{\n    message=\" Vibration now normal temp= \"; \n   msg.topic=\"Vibration Alarm Reset\";\n} \nmsg.payload=\"time:\"+d+message +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":520,"wires":[["67568ffe.c5af7","222117f1.f96fc"]]}]